.native-d3-chart
  display: flex
  justify-content: center
  align-items: center
  
  svg
    flex: 0 0 auto
    background: $pure-white
    border: 1px solid $pure-black
    
    .data-point
      fill: $teal
